.box{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 80px;
    border: 5px black solid;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 150px;
    background-color: rgba(255, 183, 243, 0.884);
    width: 200px;
    height: 500px
   }
   .caixa{
   
        padding: 25px;
        border: 5px black solid;
        width: 500px;
        height: 100px;
   }
   .caixa1{
        padding: 25px;
        border: 5px black solid;
        height: 200px;
        width: 50%;
   }
   .caixa2{
        padding: 25px;
        border: 5px black solid;
        box-sizing: inherit;
   }